book
index.html

# CIPs - not sure if this is necessary anymore. on a fresh clone and build, the cips folder is empty of .html
cips/*.html

# WGs - same note as above
cips/wgs/**/*.html

# ignore direnv; run `cp .envrc.example .envrc` to bootstrap dev tooling
.envrc
.direnv/

# firebase for static website hosting
.firebase/
